/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel  /*slider */
  {
    position: relative;
  }
  .carousel .carousel-indicators	/* indicator wrapper*/
  {
    position: absolute;
    bottom: 0;
    left:0px;
    width: 100%;
      margin: 0;
      left: 0;
     right: 0;
     width: 100%;
     display: flex;	/* this is for indicators  */
  }
  #headcarousel_container .carousel-indicators li /* indicators*/
  {
    flex-grow: 1;  /* make all indicator li similarly stretched */
    height: 40px;
    border-radius: 2px;	
  }
  
  #headcarousel_container .carousel-indicators li.active
  {
    background-color:rgba(251,222,87,0.5) ;/* changes indicators color when it is active*/ 
  }
  .carousel .carousel-inner .item img
  {
    width: 100%;
    height: 100vh;
    object-fit: fill; 
  }

  .slidepic
  {
    height: 500px;
    width: 100%;
    display: flex;
  }
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: normal;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  



/* css for bottom part */

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}


/* css for image boxes */

.miniboxes {
  width: 100%;
  height: 500px;
}

.card {
  width: 100%;
  
}


/* css for image zoom in effect */
body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
h1,
h1+p {

	font-weight: 300;
}
h1+p a {
	color: #333;
}
h1+p a:hover {
	text-decoration: none;
}
h2 {
	
	padding: 0;
	font-weight: 300;
}
h2 span {
	
	color: #aaa;
	font-size: 85%;
}
.column {
	margin: 0px 0px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 0px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: center;
	float: none;
	width: 100%;
	height: 500px;
	margin: 0 0 0 0px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: relative;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 400px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
  
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: 0px;
	opacity: 1;
}








/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.16);
	transform: scale(1.16);
}






#opacity{
 opacity: 1;
}


/* The animation code */
@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* The element to apply the animation to */
#opacity {
  animation-name: example;
  animation-duration: 3s infinite;
  animation-direction: alternate;
 
}

.slidedown:hover .overlay {
  bottom: 0;
  height: 100%;
}


.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

@keyframes increase {
  from { height: 70%; }
  to { height: 100%; }
}
@keyframes moveItSmoothly {
  from { 
    top: -150px; 
    opacity: 0;
  }
  to { 
    height: 0px;
    opacity: 1;
  }
}


#container {
  height: 70% !important;
}
#container:hover{
  height: auto !important;
  animation-name: increase;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#container:hover #card-body{
  top:0px;
  animation-name: moveItSmoothly;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#card-body {
  position: relative;
  top: -150px;
  opacity: 0;
}



